<h5>Open Spots</h5>
<table class="table gameGrid table-responsive table-bordered table-openspots">
  <thead>
      <tr>
          <th>Game Date<span *ngIf="!isAdmin()" class="smallType"><br />(click date for all games)</span></th>
          <th>Openings Left<span *ngIf="!isAdmin()" class="smallType"><br />(click to view open spots)</span></th>
          <th *ngIf="isAdmin()" >Openings On Hold</th>
          <th>To Be assigned</th>
          <th *ngIf="isAdmin()" >To Be accepted</th>
          <th>Availble For Sign-up</th>
      </tr>
  </thead>
  <tbody>
      <ng-container *ngFor="let gamedate of gameDateStatuses; let i = index">
          <tr [ngClass]="rowColor(i)">
              <td><button [routerLink]="'/schedules'" [queryParams]="{gamedate:gamedate.gamedate, referee:0}" class="btn btn-primary btn-block">{{ gamedate.gamedate | date:'EE M/dd/yyyy' }}</button></td>
              <td><button [routerLink]="'/schedules'" [queryParams]="{gamedate:gamedate.gamedate, referee:-999}" class="btn btn-primary btn-block" [disabled]="gamedate.spots == 0 ? 'disabled' : ''">{{ gamedate.spots }}</button></td>
              <td *ngIf="isAdmin()" ><button [routerLink]="'/schedules'" [queryParams]="{gamedate:gamedate.gamedate, referee:21}" class="btn btn-primary btn-block" [disabled]="gamedate.held == 0 ? 'disabled' : ''">{{ gamedate.held }}</button></td>
              <td><button [routerLink]="'/schedules'" [queryParams]="{gamedate:gamedate.gamedate, referee:5}" class="btn btn-primary btn-block" [disabled]="gamedate.tobeassigned == 0 ? 'disabled' : ''">{{ gamedate.tobeassigned }}</button></td>
              <td *ngIf="isAdmin()"><button [routerLink]="'/schedules'" [queryParams]="{gamedate:gamedate.gamedate, referee:-998}" class="btn btn-primary btn-block" [disabled]="gamedate.tobeaccepted == 0 ? 'disabled' : ''">{{ gamedate.tobeaccepted }}</button></td>
              <td [ngClass]="'status' + gamedate.signupstatus + (isAdmin() ? ' statusadmin' : '')">{{ gamedate.signup}}</td>
          </tr>
      </ng-container>
  </tbody>
</table>       