<div *ngIf="isAuthenticated()" class="session-bar">
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-7"> </div>
          <div class="col-md-5">
            {{ currentUser.seasonname }} | {{ currentUser.displayname }} 
          </div>
      </div>
    </div>
  </div>
<nav class="navbar navbar-expand-lg navbar-dark navbar-nav-jusa">
  <button class="navbar-toggler" type="button"
        (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  
    <div class="collapse navbar-collapse"
      [ngClass]="{ 'show': navbarOpen }">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" *ngIf="!isAuthenticated()" (click)="navbarClose()" routerLink="login">Login</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" *ngIf="isAuthenticated()" (click)="navbarClose()" routerLink="messageboard">Message Board</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" *ngIf="isAuthenticated()" (click)="navbarClose()" routerLink="myschedule">My Schedule</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" *ngIf="isAuthenticated()" (click)="navbarClose()" routerLink="schedules">Schedules</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" *ngIf="isAuthenticated()" (click)="navbarClose()" routerLink="referees">Referees</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" *ngIf="isAuthenticated()" (click)="navbarClose()" routerLink="myprofile">My Profile</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" *ngIf="isSuperAdmin()" (click)="navbarClose()" routerLink="administration">Administration</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" *ngIf="isAuthenticated()" (click)="navbarClose()" routerLink="logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
