.navbar-nav-jusa {
    background-color: var(--jusa-dark) !important;
    border-top: 2px solid var(--jusa-medium);
}

.nav-link {
    color: var(--jusa-dark-link) !important;
    font-weight: bold;
    padding-right: 2rem !important;
}

.nav-link:hover {
    color: var(--jusa-dark-hover) !important;
    font-weight: bold;
    padding-right: 2rem !important;
}

.session-bar {
    text-align: right;
    color: var(--jusa-dark-link);
    font-weight: 400;
    float: right;
}