<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <span style="font-size:24pt;font-weight:bold;text-shadow: 4px 4px 8px #808080;">JUSA {{this.seasonName()}}</span >
    </div>
    <div class="col-md-6">
          <div style="float:left;">
            <img alt="Rained Out Dot Net Logo" style="padding-right:10px;" src="/images/RO_badge_blue.png" title="RainedOut" />
          </div>
          <div style="font-size:0.75rem">
            <span style="font-size:1.25rem;font-weight:bold;">Get notified about field closures</span><br />
            Text <B>JUSAUPDATES</B> (all one word) to 84483 to receive alerts about field conditions on your mobile phone.
            Standard messaging rates apply.<BR />
            Or <a href="https://www.rainedout.net/team_page.php?a=bc37c0695aa155d4f957">click here</a> to sign up on line.
          </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h5>Announcements</h5>
      <div class="announcementDiv">
        <div [innerHTML]="announcements"></div>
      </div>
    </div>
  </div>  
</div>
