:root {
    /* 
        https://coolors.co/00a5e5-395f85-029cde-d5edfb-a1c8d0 
    */

    --palette-basis: #00a5e5;

    --jusa-dark: #203449;
    --jusa-dark-link: #ffffff;
    --jusa-dark-hover: #00a5e5;

    --jusa-medium: #0272a2;
    --jusa-medium-link: #ffffff;
    --jusa-medium-hover: #ffffff;

    --jusa-row-odd: #d1edf9;
    --jusa-row-even: #ffffff;

    --jusa-font-bright: #ffffff;
    --jusa-font-medium: #00a5e5;

    --jusa-highlight: #e8ff0d;
}

.btn-primary {
    background-color: var(--jusa-medium) !important;
}

.btn-primary:hover {
    background-color: var(--jusa-dark-hover) !important;
}
.main-container {
    width: 100%;
}
.main-header {
    background-image: url(images/bluejersey.jpg);
    background-repeat: repeat-x;
    height: 110px;
    margin: 0px;
    padding: 0px;
    overflow:hidden;
}
.main-logo {
    padding-top: 0px;
    padding-right: 20px;
}
.main-title {
    margin: 0px;
    padding-left: 5px;
    color: var(--jusa-font-bright);
    font-size: 3.5vw;
    font-weight: bold;
    height: 100px;
    text-shadow: 8px 8px 8px var(--jusa-dark);
}
