:root {
    /* 
        https://coolors.co/00a5e5-395f85-029cde-d5edfb-a1c8d0 
    */

    --palette-basis: #00a5e5;

    --jusa-dark: #203449;
    --jusa-dark-link: #ffffff;
    --jusa-dark-hover: #00a5e5;

    --jusa-medium: #0272a2;
    --jusa-medium-link: #ffffff;
    --jusa-medium-hover: #ffffff;

    --jusa-light: #4cc0ec;

    --jusa-row-odd: #d1edf9;
    --jusa-row-disabled: #d0d0d0;
    --jusa-row-even: #ffffff;

    --jusa-font-bright: #ffffff;
    --jusa-font-medium: #00a5e5;

    --jusa-highlight: #e8ff0d;
    --jusa-highlight-soft: #f9ffbe;

    --jusa-error: #e54000;
    --jusa-error-darker: #a02c00;
    --jusa-error-darkest: #722000;

    --jusa-success: #a5e500;
    --jusa-success-darker: #84b700;
    --jusa-success-darkest: #638900;
}

.btn-primary {
    background-color: var(--jusa-medium) !important;
}

.btn-primary:hover {
    background-color: var(--jusa-dark-hover) !important;
}

.btn-secondary {
    background-color: var(--jusa-light) !important;
}

.btn-secondary:hover {
    background-color: var(--jusa-medium) !important;
}

.btn-light {
    background-color: transparent !important;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
}
.btn-light:hover {
    background-color: var(--jusa-medium) !important;
}

.main-container {
    width: 100%;
}
.main-header {
    background-image: url(images/bluejerseysmall.jpg);
    background-repeat: repeat;
    height: 55px;
    margin: 0px;
    padding: 0px;
    overflow:hidden;
    border-top: 2px solid var(--jusa-medium);
}
.main-logo {
    margin: 0px;
    padding-left: 5px;
    padding-top: 0px;
    height: 53px;
    width: 53px;
    float:left;
    background-image: url('images/JUSAbadge.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.main-title {
    margin: 0px;
    padding-left: 65px;
    color: var(--jusa-font-bright);
    font-size: 30px;
    white-space: nowrap;
    font-weight: bold;
    height: 100px;
    text-shadow: 8px 8px 8px var(--jusa-dark);
    vertical-align: middle;
}

.fieldpopover {
    max-width: 700px !important;
}
.popover-header {
    font-size: 1.25em !important;
    text-align: center;
}

.gameRowOdd {
    background-color: var(--jusa-row-odd);
}
.gameRowEven {
    background-color: var(--jusa-row-even);
}

.gameGrid, .gameGridAdmin {
    width: 100%;
}
.gameGrid th, .gameGridAdmin th {
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    background-color: var(--jusa-medium) !important;
    border-color: var(--palette-basis) !important;
    color: var(--jusa-medium-link);
}

.gameGrid td {
    height: 75px;
    min-height: 75px;
    text-align: center;
    vertical-align: middle;
    border-color: var(--palette-basis)  !important;
}

.gameGridAdmin td {
    height: 85px;
    min-height: 85px;
    text-align: center;
    vertical-align: middle;
    border-color: var(--palette-basis)  !important;
}

.gameCellChanged {
    background-color: var(--jusa-highlight);
}

.gridTextSmall {
    font-size: 0.75rem;
}
